/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.test_get, .test_post {
  flex: 49% 0 0;
}
.test_post .forms {
  display: flex;
  justify-content: space-between;
}
.test_post .forms form {
  flex: 49% 0 0;
}
.test_post .forms input[type=text] {
  display: block;
  width: 100%;
}
#current_auth_token {
  word-break: break-all;
  font-family: monospace;
}
